body {
	font-family: Arial, sans-serif;
	background-image: url("https://pbs.twimg.com/amplify_video_thumb/1616310532684025857/img/1A4BOXsDT2rD4zXV.jpg:large")
}

.container {
	width: 50%;
	margin: 40px auto;
	padding: 20px;
	background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/020/629/small_2x/banner-web-template-abstract-blue-and-golden-curved-lines-overlapping-layer-design-on-dark-blue-background-luxury-style-vector.jpg');
	border: 1px solid #000000;
    border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
    color: #fff;
}

label {
	display: block;
	margin-bottom: 10px;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
	width: 95%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #1960da;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    display: block;
   margin: 0 auto;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
